@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 11, 226, 0.1);
  border-radius: 8px;
}

.closeButton span::after,
.closeButton span::before {
  position: absolute;
  display: block;
  height: 3px;
  background-color: black;
  content: '';
  width: 100%;
  transition: 0.5s;
  border-radius: 5px;
}
.closeButton span::after {
  top: -10px;
}
.closeButton span::before {
  bottom: -10px;
}
.closeButton span {
  background-color: transparent;
  transition: 0.5s;
}
.closeButton span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.closeButton span::before {
  bottom: 0;
  transform: rotate(45deg);
  transition: 0.5s;
}

/* spinner  */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 10px 0 0 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(80, 70, 229, 0.2);
  border-right: 1.1em solid rgba(80, 70, 229, 0.2);
  border-bottom: 1.1em solid rgba(80, 70, 229, 0.2);
  border-left: 1.1em solid rgb(80, 70, 229);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
