@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 11, 226, 0.1);
  border-radius: 8px;
}

.sidebarButton span::after,
.sidebarButton span::before {
  position: absolute;
  display: block;
  height: 3px;
  background-color: black;
  content: '';
  width: 100%;
  transition: 0.5s;
  border-radius: 5px;
}
.sidebarButton span::after {
  top: -10px;
}
.sidebarButton span::before {
  bottom: -10px;
}
.sidebarButton span {
  background-color: transparent;
  transition: 0.5s;
}
.sidebarButton span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.sidebarButton span::before {
  bottom: 0;
  transform: rotate(45deg);
  transition: 0.5s;
}